<ng-container *ngIf="!(localPlayerIsBrain$ | async); else brain">
  <div class="title" *ngIf="currentBrain$ | async as currentBrain">
    How did <span class="player-name">{{ currentBrain.name }} </span>answer the
    following question?<br />
  </div>
  <div
    class="input-wrapper"
    *ngIf="currentQuestion$ | async as currentQuestion"
  >
    <div class="current-question">{{ currentQuestion.text }} ?<br /></div>
    <ng-container *ngIf="answerFormVisible$ | async as visible">
      <app-question-with-answer-input
        [unit]="currentQuestion.unit"
        (answerEmitter)="handleAnswer($event)"
      ></app-question-with-answer-input>
    </ng-container>
  </div>
  <ng-container *ngIf="loading$ | async"
    >Waiting for other players to answer...</ng-container
  >
</ng-container>
<ng-template #brain>
  You were the brain for this question:
  <div
    class="input-wrapper"
    *ngIf="currentQuestion$ | async as currentQuestion"
  >
    <div class="current-question">
      {{ currentQuestion.text }}
    </div>
  </div>
</ng-template>
