<ng-container *ngIf="this.game$ | async as data">
  <div
    class="player-card"
    *ngFor="let card of data; index as i"
    [ngClass]="{ local: card.isLocalPlayer }"
  >
    <div class="top-row">
      <div class="place">{{ i + 1 }}</div>
      <div class="player-name">
        {{ card.player.name }} <br />
        {{ card.score }}
      </div>
    </div>
    <div class="bid-box">
      <span [ngClass]="card.messageClass">
        {{ card.message }}
      </span>
      <br />
      <span class="brain-emoji" *ngIf="card.isBrain">
        🧠
      </span>
    </div>
  </div>
</ng-container>
