:host {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.player-card {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  height: 96px;
  margin-top: 8px;
  border-radius: 10px;
  display: flex;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.player-card * {
  display: flex;
  align-items: center;
}

.place {
  margin-right: 5px;
}
