<ng-container *ngIf="this.game$ | async as data">
  <div
    class="player-card"
    *ngFor="let card of data; index as i"
    [ngClass]="{ local: card.isLocalPlayer }"
  >
    <div class="place">{{ i + 1 }}</div>
    <div class="player-name">{{ card.player.name }} <br /></div>
    <span [ngClass]="card.messageClass">
      {{ card.message }}
    </span>

    <div class="score">
      {{ card.score }}
    </div>
    <span *ngIf="card.isBrain && card.message.length > 0">
      <br />
    </span>
    <span class="brain-emoji" *ngIf="card.isBrain">
      🧠
    </span>
  </div>
</ng-container>
