<ng-container *ngIf="state$ | async as state">
  <h1 *ngIf="!state.numberOfPlayers">
    Post Truth Trivia 🧠
  </h1>
  <h2>Share link to invite Players</h2>
  <div>
    <div>
      <input
        type="text"
        value="{{ route }}"
        style="width: 100%; max-width: 400px;"
        disabled
      />
      <button ngxClipboard="" [cbContent]="route" style="font-size: 36px;">
        Copy Link
      </button>
    </div>
  </div>
  <span *ngIf="state.numberOfPlayers">
    <h1>{{ state.numberOfPlayers || 0 }} / 8 Players</h1>
    <h2 *ngIf="state.numberOfPlayers < 3">
      {{ 3 - state.numberOfPlayers }} more players needed
    </h2>
  </span>
  <app-join-game-form
    *ngIf="!hasPlayerJoined && state.numberOfPlayers < 8; else lobby"
  ></app-join-game-form>
</ng-container>

<ng-template #lobby>
  <button
    *ngIf="canPlayerStartGame"
    class="event-element"
    (click)="startLobby()"
  >
    Start Game
  </button>
</ng-template>
