:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 72px;
}

.answer-input {
  font-size: 48px;
}

button {
  margin-top: 24px;
  font-size: 72px;
}
