<div class="container">
  <ng-container *ngIf="$game | async as game; else loading">
    <div class="game-form-wrapper">
      <app-lobby *ngIf="game.status === 'LOBBY'"></app-lobby>
      <ng-container *ngIf="localPlayer.id; else observer">
        <app-answer-brain-questions
          *ngIf="game.status === 'BRAIN_QUESTIONS'"
        ></app-answer-brain-questions>
        <app-game-loop *ngIf="game.status === 'GAME_LOOP'"></app-game-loop>
      </ng-container>
      <ng-container *ngIf="game.status === 'FINISHED'">
        <h1>Game Over!</h1>
        <h3>Thanks for playing!</h3>
        <ul>
          <li>Built by Rob Corey</li>
          special thanks:
          <li>Tom Corey - Development, Design</li>
          <li>Lela Kulkarni - Content</li>
        </ul>
      </ng-container>
    </div>
    <app-player-list></app-player-list>
    <!-- <h2>game</h2>
    {{ game | json }}
    <h2>player</h2>
    {{ localPlayer | json }}
    <h2>answers</h2>
    <ng-container *ngFor="let answer of game.answers">
      {{ answer | json }}
      <br /> 
    </ng-container> -->
  </ng-container>

  <ng-template #observer> </ng-template>

  <ng-template #loading>
    Loading...
  </ng-template>
</div>
