<span *ngIf="$game | async as rawGame; else loading">
  <span *ngIf="rawGame.status === 'LOBBY'">
    <app-join-game-form
      *ngIf="!hasPlayerJoined; else lobby"
    ></app-join-game-form>
    <ng-template #lobby>
      Lobby
      <app-player-list [players]="rawGame.players"></app-player-list>
      <button *ngIf="canPlayerStartGame" class="button" (click)="startLobby()">
        Start Game
      </button>
    </ng-template>
  </span>
  <app-answer-brain-questions
    *ngIf="rawGame.status === 'BRAIN_QUESTIONS'"
  ></app-answer-brain-questions>
  <app-game-loop *ngIf="rawGame.status === 'GAME_LOOP'"></app-game-loop>
  <h2>game</h2>
  {{ rawGame | json }}
  <h2>player</h2>
  {{ localPlayer | json }}
</span>

<ng-template #loading>
  Loading...
</ng-template>
