.start-game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  height: 640px;
  position: relative;

  .content {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .logo {
      font-family: Reem Kufi;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #000000;
      margin-bottom: 1.5rem;
    }

    .button {
      padding: 1rem;
      background: #58b09c;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: x-large;
      margin-bottom: 0.5rem;
    }
  }
}
