<div class="start-game-container">
  <span class="logo">Post Truth Trivia 🧠</span>
  <button class="button" class="event-element" (click)="startGame()">
    <span class="button-text">Create New Game</span>
  </button>
  <h2 style="margin-bottom: 300px">
    <h1>About Post Truth Trivia</h1>
    <p>
      <i>Post Truth Trivia</i> is an online party game for 3-8 players. In
      <i>Post Truth Trivia</i> the answers to questions are whatever other
      players in the game think they are. Does Uncle John think The Matrix was
      released in 1978? Then you'd better swallow your pride and type in 1978.
      The closer you are to the “Answer” the more points you get.
    </p>

    <p><i>Post Truth Trivia</i>, it’s 2020 and nothing is real anymore.</p>
  </h2>
</div>
