Answer these questions the best you can.Later other players will guess what you
entered. Remember it's what <b>YOU</b> think so don't worry about the exact
right answer.
<ng-container
  *ngIf="!loading && currentQuestion$ | async as question; else finished"
>
  {{ question.text }}
  <app-question-with-answer-input
    (answerEmitter)="handleAnswer($event)"
  ></app-question-with-answer-input>
</ng-container>
<ng-container *ngIf="loading">Waiting for other players</ng-container>
<ng-template #finished>
  <header>Finished being the brain</header>
  <sub>Waiting for other players to finish 😴</sub>
</ng-template>
