:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  text-align: center;
}
.player-name {
  color: red;
}
.current-question {
  color: hsl(0, 0%, 13%);
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-wrapper {
  text-align: center;
}
