<div class="game-container">
  <div class="game-form">
    <h1>Enter your name</h1>
    <h3>
      The game depends on other players knowing who you are so we suggest using
      your real name or a nickname
    </h3>
    <input
      style="width: 70vw; height: 20vh; font-size: 10vh;"
      type="text"
      [formControl]="name"
      maxlength="50"
    />
    <br />
    <br />
    <br />
    <button
      style="width: 70vw; height: 20vh; font-size: 10vh;"
      type="submit"
      (click)="onSubmit()"
    >
      Join
    </button>
  </div>
</div>
