<div class="game-container">
  <div class="game-form">
    <h1>Enter your name</h1>
    <h3>
      The game depends on other players knowing who you are so we suggest using
      your real name or a nickname
    </h3>
    <input
      class="event-element"
      type="text"
      [formControl]="name"
      pattern="[a-zA-Z ]*"
      maxlength="10"
      minlength="1"
      required
    />
    <button
      class="event-element"
      type="submit"
      (click)="onSubmit()"
      *ngIf="!name.invalid"
    >
      Join
    </button>

    <div *ngIf="name?.errors?.pattern">
      <h3>Please only use A-Z in your name</h3>
    </div>
  </div>
</div>
